page-chapter4 {

  ion-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: -1;
  }

  .c4 {
    background-color: #fcf0fd;
  }

  .c42 {
    background-color: #ec9ff2;
  }

  .titlebutton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: -1;
  }
}
