page-chapter1 {

  ion-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: -1;
  }

  .c1 {
    background-color: #ecf1fd;
  }

  .titlebutton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: -1;
  }
}
