page-chapter3 {

  ion-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: -1;
  }

  .c3 {
    background-color: #fef5ef;
  }


  .c32 {
    background-color: #f7ac7b;
  }

  .titlebutton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: -1;
  }
}
