page-chapter8 {

  ion-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: -1;
  }

  .c8 {
    background-color: #fcefcf;
  }

  .titlebutton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: -1;
  }
}
