page-page1 {

  ion-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    text-align: center;
    z-index: -1;
  }

  .hh {
    background-color: #fef8eb;
  }

  .hh1 {
    background-color: #fffdf9;
  }
}
